################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mylittle-project/config/applicationhost.config
/.vs/mylittle-project/CopilotIndices/17.14.698.11175/CodeChunks.db
/.vs/mylittle-project/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
/.vs/mylittle-project/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
/.vs/mylittle-project/CopilotIndices/17.14.698.11175/SemanticSymbols.db
/.vs/mylittle-project/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
/.vs/mylittle-project/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
/.vs/mylittle-project/DesignTimeBuild/.dtbcache.v2
/.vs/mylittle-project/FileContentIndex/055b7d81-d2bb-45b7-bd10-f46f18d74f94.vsidx
/.vs/mylittle-project/FileContentIndex/35cdc962-ea5e-48f5-aa81-0f29408adcd2.vsidx
/.vs/mylittle-project/FileContentIndex/491df586-a163-4ea0-8540-9ace05191f63.vsidx
/.vs/mylittle-project/FileContentIndex/afcec4dc-e67e-4c34-98a4-c1f0f8ba470c.vsidx
/.vs/mylittle-project/FileContentIndex/c25c0312-cf3a-4639-8614-8827d547c503.vsidx
/.vs/mylittle-project/FileContentIndex/1b7ffd4d-21bc-420e-bdd2-cbe74e7a5323.vsidx
/.vs/mylittle-project/FileContentIndex/4aad4c27-91b7-4562-ab8d-74f40d6ab001.vsidx
/.vs/mylittle-project/FileContentIndex/a21170e3-3106-40e2-a42e-332266557365.vsidx
/.vs/mylittle-project/FileContentIndex/d1e91675-4419-4978-b5fa-ab52ce403183.vsidx
/.vs/mylittle-project/FileContentIndex/ef375a55-63b4-456c-aa54-2f533d9134b6.vsidx
/.vs/mylittle-project/v17/.futdcache.v2
/.vs/mylittle-project/v17/.suo
/.vs/mylittle-project/v17/DocumentLayout.backup.json
/.vs/mylittle-project/v17/DocumentLayout.json
/.vs/MYLITTLEv2/v17/.wsuo
/.vs/MYLITTLEv2/v17/DocumentLayout.json
/.vs/mylittlev2gitpi/v17
/.vs/ProjectEvaluation/mylittle-project.metadata.v9.bin
/.vs/ProjectEvaluation/mylittle-project.projects.v9.bin
/.vs/ProjectEvaluation/mylittle-project.strings.v9.bin
/.vs/VSWorkspaceState.json
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Domain.pdb
/.vs/mylittle-project/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
/.vs/mylittle-project/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
/.vs/mylittle-project/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
/.vs/mylittle-project/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
/.vs/mylittle-project/FileContentIndex/ed733391-b96e-47cd-8525-33a221cc3f34.vsidx
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.AssemblyInfoInputs.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.assets.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.AssemblyReference.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.CoreCompileInputs.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.FileListAbsolute.txt
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.sourcelink.json
/mylittle-project.Application/obj/Debug/net9.0/ref/mylittle-project.Application.dll
/mylittle-project.Application/obj/Debug/net9.0/refint/mylittle-project.Application.dll
/mylittle-project.Application/obj/mylittle-project.Application.csproj.nuget.dgspec.json
/mylittle-project.Application/obj/mylittle-project.Application.csproj.nuget.g.props
/mylittle-project.Application/obj/project.assets.json
/mylittle-project.Application/obj/project.nuget.cache
/mylittle-project.Domain/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.Domain/bin/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.AssemblyInfoInputs.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.assets.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.AssemblyReference.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.CoreCompileInputs.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.FileListAbsolute.txt
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.genruntimeconfig.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.sourcelink.json
/mylittle-project.Domain/obj/Debug/net9.0/ref/mylittle-project.Domain.dll
/mylittle-project.Domain/obj/Debug/net9.0/refint/mylittle-project.Domain.dll
/mylittle-project.Domain/obj/mylittle-project.Domain.csproj.nuget.dgspec.json
/mylittle-project.Domain/obj/mylittle-project.Domain.csproj.nuget.g.props
/mylittle-project.Domain/obj/project.assets.json
/mylittle-project.Domain/obj/project.nuget.cache
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.infrastructure.pdb
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.AssemblyInfoInputs.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.assets.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.AssemblyReference.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.CoreCompileInputs.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.FileListAbsolute.txt
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.genruntimeconfig.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.pdb
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.sourcelink.json
/mylittle-project.infrastructure/obj/Debug/net9.0/ref/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/obj/Debug/net9.0/refint/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/obj/mylittle-project.infrastructure.csproj.nuget.dgspec.json
/mylittle-project.infrastructure/obj/mylittle-project.infrastructure.csproj.nuget.g.props
/mylittle-project.infrastructure/obj/project.assets.json
/mylittle-project.infrastructure/obj/project.nuget.cache
/mylittle-project/appsettings.json
/mylittle-project/bin/Debug/net9.0/appsettings.json
/mylittle-project/bin/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project/bin/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project/bin/Debug/net9.0/mylittle-project.dll
/mylittle-project/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project/bin/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project/bin/Debug/net9.0/mylittle-project.exe
/mylittle-project/bin/Debug/net9.0/mylittle-project.infrastructure.dll
/mylittle-project/bin/Debug/net9.0/mylittle-project.infrastructure.pdb
/mylittle-project/bin/Debug/net9.0/mylittle-project.pdb
/mylittle-project/obj/Debug/net9.0/apphost.exe
/mylittle-project/obj/Debug/net9.0/ApiEndpoints.json
/mylittle-project/obj/Debug/net9.0/apphost.exe
/mylittle-project/obj/Debug/net9.0/mylittle-project.AssemblyInfo.cs
/mylittle-project/obj/Debug/net9.0/mylittle-project.AssemblyInfoInputs.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.assets.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.AssemblyReference.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.CoreCompileInputs.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.FileListAbsolute.txt
/mylittle-project/obj/Debug/net9.0/mylittle-project.dll
/mylittle-project/obj/Debug/net9.0/mylittle-project.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project/obj/Debug/net9.0/mylittle-project.genruntimeconfig.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.pdb
/mylittle-project/obj/Debug/net9.0/mylittle-project.sourcelink.json
/mylittle-project/obj/Debug/net9.0/ref/mylittle-project.dll
/mylittle-project/obj/Debug/net9.0/refint/mylittle-project.dll
/mylittle-project/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/mylittle-project/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/mylittle-project/obj/Debug/net9.0/rpswa.dswa.cache.json
/mylittle-project/obj/mylittle-project.csproj.nuget.dgspec.json
/mylittle-project/obj/mylittle-project.csproj.nuget.g.props
/mylittle-project/obj/project.assets.json
/mylittle-project/obj/project.nuget.cache
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project.Application/DTOs/AssignedFilterDto.cs
/mylittle-project.Application/DTOs/CategoryFilterDto.cs
/mylittle-project.Application/obj/Debug/net9.0/ref/mylittle-project.Application.dll
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.AssemblyInfo.cs
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.AssemblyInfoInputs.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.assets.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.AssemblyReference.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.CoreCompileInputs.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.FileListAbsolute.txt
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.sourcelink.json
/mylittle-project.Application/obj/Debug/net9.0/refint/mylittle-project.Application.dll
/mylittle-project.Application/obj/mylittle-project.Application.csproj.nuget.dgspec.json
/mylittle-project.Application/obj/project.assets.json
/mylittle-project.Application/obj/project.nuget.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.AssemblyInfo.cs
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.AssemblyInfoInputs.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.assets.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.AssemblyReference.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.CoreCompileInputs.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.FileListAbsolute.txt
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.genruntimeconfig.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.sourcelink.json
/mylittle-project.Domain/obj/Debug/net9.0/ref/mylittle-project.Domain.dll
/mylittle-project.Domain/obj/Debug/net9.0/refint/mylittle-project.Domain.dll
/mylittle-project.Domain/obj/mylittle-project.Domain.csproj.nuget.dgspec.json
/mylittle-project.Domain/obj/mylittle-project.Domain.csproj.nuget.g.props
/mylittle-project.Domain/obj/project.assets.json
/mylittle-project.Domain/obj/project.nuget.cache
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.infrastructure.pdb
/mylittle-project.infrastructure/Migrations/20250625033524_init.cs
/mylittle-project.infrastructure/Migrations/20250625033524_init.Designer.cs
/mylittle-project.infrastructure/Migrations/20250626110854_hello1.cs
/mylittle-project.infrastructure/Migrations/20250626110854_hello1.Designer.cs
/mylittle-project.infrastructure/Migrations/20250626113116_AddTenantIdToFilter.cs
/mylittle-project.infrastructure/Migrations/20250626113116_AddTenantIdToFilter.Designer.cs
/mylittle-project.infrastructure/Migrations/20250627062805_UpdatedCategoryAndProductSchema.cs
/mylittle-project.infrastructure/Migrations/20250627062805_UpdatedCategoryAndProductSchema.Designer.cs
/mylittle-project.infrastructure/Migrations/20250627071530_UpdatedCategoryAndProductSchema1.cs
/mylittle-project.infrastructure/Migrations/20250627071530_UpdatedCategoryAndProductSchema1.Designer.cs
/mylittle-project.infrastructure/Migrations/20250627083628_UpdatedCategoryAndProductSchema2.cs
/mylittle-project.infrastructure/Migrations/20250627083628_UpdatedCategoryAndProductSchema2.Designer.cs
/mylittle-project.infrastructure/Migrations/20250627085539_UpdatedCategoryAndProductSchema4.cs
/mylittle-project.infrastructure/Migrations/20250627085539_UpdatedCategoryAndProductSchema4.Designer.cs
/mylittle-project.infrastructure/Migrations/20250627113259_Updatedglobalfilters.cs
/mylittle-project.infrastructure/Migrations/20250627113259_Updatedglobalfilters.Designer.cs
/mylittle-project/obj/Debug/net9.0/ref/mylittle-project.dll
/mylittle-project.Domain/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.Domain/bin/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project.Domain/Entities/AssignedFilter.cs
/mylittle-project.Domain/Entities/CategoryFilterValue.cs
/mylittle-project.Domain/obj/Debug/net9.0/ref/mylittle-project.Domain.dll
/mylittle-project.infrastructure/obj/Debug/net9.0/ref/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.AssemblyInfo.cs
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.AssemblyInfoInputs.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.assets.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.AssemblyReference.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.CoreCompileInputs.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.FileListAbsolute.txt
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.genruntimeconfig.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.pdb
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.sourcelink.json
/mylittle-project.infrastructure/obj/Debug/net9.0/ref/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/obj/Debug/net9.0/refint/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/obj/mylittle-project.infrastructure.csproj.nuget.dgspec.json
/mylittle-project.infrastructure/obj/project.assets.json
/mylittle-project.infrastructure/obj/project.nuget.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.AssemblyInfo.cs
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.AssemblyInfoInputs.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.assets.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.AssemblyReference.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.CoreCompileInputs.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.FileListAbsolute.txt
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.genruntimeconfig.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.pdb
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.sourcelink.json
/mylittle-project.infrastructure/obj/mylittle-project.infrastructure.csproj.nuget.dgspec.json
/mylittle-project.infrastructure/obj/project.assets.json
/mylittle-project.infrastructure/obj/mylittle-project.infrastructure.csproj.nuget.dgspec.json
/mylittle-project.infrastructure/obj/project.assets.json
/mylittle-project.infrastructure/obj/project.nuget.cache
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.FileListAbsolute.txt
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.genruntimeconfig.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.sourcelink.json
/mylittle-project.Domain/obj/mylittle-project.Domain.csproj.nuget.dgspec.json
/mylittle-project.Domain/obj/project.assets.json
/mylittle-project.Domain/obj/project.nuget.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.AssemblyInfo.cs
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.AssemblyInfoInputs.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.assets.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.CoreCompileInputs.cache
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.Domain/Entities/AssignedFilter.cs
/mylittle-project.Domain/Entities/CategoryFilterValue.cs
/mylittle-project/obj/Debug/net9.0/ApiEndpoints.json
/mylittle-project/obj/Debug/net9.0/apphost.exe
/mylittle-project/obj/Debug/net9.0/mylittle-project.AssemblyInfo.cs
/mylittle-project/obj/Debug/net9.0/mylittle-project.AssemblyInfoInputs.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.assets.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.AssemblyReference.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.CoreCompileInputs.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.FileListAbsolute.txt
/mylittle-project/obj/Debug/net9.0/mylittle-project.dll
/mylittle-project/obj/Debug/net9.0/mylittle-project.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project/obj/Debug/net9.0/mylittle-project.genruntimeconfig.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.MvcApplicationPartsAssemblyInfo.cs
/mylittle-project/obj/Debug/net9.0/mylittle-project.pdb
/mylittle-project/obj/Debug/net9.0/mylittle-project.sourcelink.json
/mylittle-project/obj/Debug/net9.0/ref/mylittle-project.dll
/mylittle-project/obj/Debug/net9.0/refint/mylittle-project.dll
/mylittle-project/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/mylittle-project/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/mylittle-project/obj/Debug/net9.0/rpswa.dswa.cache.json
/mylittle-project/obj/mylittle-project.csproj.nuget.dgspec.json
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project/obj/Debug/net9.0/refint/mylittle-project.dll
/mylittle-project/obj/mylittle-project.csproj.nuget.g.props
/mylittle-project/obj/project.assets.json
/mylittle-project/obj/project.nuget.cache
/mylittle-project/appsettings.json
/mylittle-project/bin/Debug/net9.0/appsettings.json
/mylittle-project/bin/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project/bin/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project/bin/Debug/net9.0/mylittle-project.dll
/mylittle-project/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project/bin/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project/bin/Debug/net9.0/mylittle-project.exe
/mylittle-project/bin/Debug/net9.0/mylittle-project.infrastructure.dll
/mylittle-project/bin/Debug/net9.0/mylittle-project.infrastructure.pdb
/mylittle-project/bin/Debug/net9.0/mylittle-project.pdb
/.vs/mylittle-project/FileContentIndex/356431c8-1bfa-4cd5-a9fe-d7373e796c73.vsidx
/.vs/mylittle-project/FileContentIndex/64f94fbb-7460-4c1a-a6d3-f4f74c6e35da.vsidx
/.vs/mylittle-project/FileContentIndex/699019d4-5723-479a-b72a-767dc8e467d9.vsidx
/.vs/mylittle-project/FileContentIndex/d3b93afa-1830-4037-8f1b-92e85577c238.vsidx
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/.vs/mylittle-project/FileContentIndex/ec5fcf63-5ab3-4c69-97bd-cb16f1b50ab0.vsidx
/.vs/mylittle-project/FileContentIndex/ed824172-1518-477d-8074-c9671911f493.vsidx
/.vs/mylittle-project/FileContentIndex/f785534e-26e4-4519-9da8-af208d8f4a5a.vsidx
/mylittle-project.Application/DTOs/AssignedFilterDto.cs
/mylittle-project.Application/DTOs/CategoryFilterDto.cs
/mylittle-project.Application/obj/Debug/net9.0/ref/mylittle-project.Application.dll
*.vsidx
